apiVersion: apps/v1
kind: Deployment
metadata:
  name: stories-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: stories
  template:
    metadata:
      labels:
        app: stories
    spec:
      containers:
        - name: stories
          image: kvitkovski/stories:1
          volumeMounts:
            - mountPath: /app/story
              name: story-volume
      volumes:
        - name: story-volume
          # type of the volume (emptyDir -> the volume will be inside the Pod)
          emptyDir: {} 

 